html {
       overflow-y: scroll;
}

#main {
    padding: 20px 50px 10px 50px;
}

.friend {
    font-weight: bold;
}

/*#chatroomlist {
    position: fixed;

}
.col-md-8 {
    float: right;
    padding-left: 80px;
    border-left: 10px solid black;
}
*/
